body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: lightblue;
  font-family: sans-serif;
}
nav {
  width: 980px;
  margin: 0 auto;
  position: absolute;
  height: 36px;
  top: 83px;
  left: 0;
  right: 0;
  z-index: 9999;
  background: linear-gradient(
    0deg,
    #666666 0%,
    #5e5e5e 50%,
    #707070 51%,
    #808080 100%
  );
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  border: 0.5px solid #565656;
}
nav a {
  color: white;
  flex: 1 100%;
  text-decoration: none;
  text-indent: -9999px;
  height: 36px;
  border-right: 0.75px solid #464646;
}
nav a span {
  display: block;
  height: 30px;
  margin-top: 3px;
  background-image: url(/assets/globalnav_text.svg);
}
.logo {
  background-position: 50% 0;
}
.store {
  background-position: 50% 30px;
}
.mac {
  background-position: 50% 60px;
}
.ipod {
  background-position: 50% 90px;
}
.iphone {
  background-position: 50% 120px;
}
.ipad {
  background-position: 50% 150px;
}
.itunes {
  background-position: 50% 180px;
}
.support {
  background-position: 50% 210px;
}
.search-container {
  position: relative;
}
.search-container input {
  box-sizing: border-box;
  color: white;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 106px;
  margin-left: 15px;
  margin-right: 15px;
  height: 22px;
  padding-left: 24px;
  border: 1px inset rgba(128, 128, 128, 0.5);
}
.search {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 6px;
  left: 22px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGJhc2VQcm9maWxlPSJmdWxsIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpldj0iaHR0cDovL3d3dy53My5vcmcvMjAwMS94bWwtZXZlbnRzIj4KPGcgZmlsbC1vcGFjaXR5PSIuNSI%2BCgk8cG9seWdvbiBwb2ludHM9IjkuMjA3LDcuMTI2IDcuNzkzLDguNTQxIDExLjc5MywxMi41NDEgMTMuMjA3LDExLjEyNiIgLz4KCTxwYXRoIGQ9Ik01LjkxNywzYzEuNjA4LDAsMi45MTcsMS4zMDgsMi45MTcsMi45MTdTNy41MjUsOC44MzMsNS45MTcsOC44MzNTMyw3LjUyNSwzLDUuOTE3UzQuMzA4LDMsNS45MTcsMyBNNS45MTcsMQoJCUMzLjIwMSwxLDEsMy4yMDEsMSw1LjkxN3MyLjIwMSw0LjkxNyw0LjkxNyw0LjkxN3M0LjkxNy0yLjIwMSw0LjkxNy00LjkxN0MxMC44MzMsMy4yMDEsOC42MzIsMSw1LjkxNywxTDUuOTE3LDF6IiAvPgo8L2c%2BCjxnPgoJPHBvbHlnb24gZmlsbD0iI2ZmZiIgcG9pbnRzPSI5LjIwNyw2LjEyNiA3Ljc5Myw3LjU0MSAxMS43OTMsMTEuNTQxIDEzLjIwNywxMC4xMjYiIC8%2BCgk8cGF0aCBmaWxsPSIjZmZmIiBkPSJNNS45MTcsMmMxLjYwOCwwLDIuOTE3LDEuMzA4LDIuOTE3LDIuOTE3UzcuNTI1LDcuODMzLDUuOTE3LDcuODMzUzMsNi41MjUsMyw0LjkxN1M0LjMwOCwyLDUuOTE3LDIKCQkgTTUuOTE3LDBDMy4yMDEsMCwxLDIuMjAxLDEsNC45MTdzMi4yMDEsNC45MTcsNC45MTcsNC45MTdzNC45MTctMi4yMDEsNC45MTctNC45MTdDMTAuODMzLDIuMjAxLDguNjMyLDAsNS45MTcsMEw1LjkxNywweiIgLz4KPC9nPgo8L3N2Zz4K');
}
article {
  min-height: 70vh;
  height: 592px;
  position: relative;
  top: 0;
  background: url(./assets/main-background.jpg) bottom no-repeat;
  background-size: 1440px 1315px;
}
