body {
  max-width: 1440px;
  min-width: 1022px;
  margin: 0 auto;
  font-family: sans-serif;
}
nav {
  width: 980px;
  margin: 0 auto;
  position: absolute;
  height: 36px;
  top: 83px;
  left: 0;
  right: 0;
  z-index: 9999;
  background: linear-gradient(
    0deg,
    #666666 0%,
    #5e5e5e 50%,
    #707070 51%,
    #808080 100%
  );
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  border: 0.5px solid #565656;
}
nav a {
  color: white;
  flex: 1 100%;
  text-decoration: none;
  text-indent: -9999px;
  height: 36px;
  border-right: 0.75px solid #464646;
}
nav a span {
  display: block;
  height: 30px;
  margin-top: 3px;
  background-image: url(/assets/globalnav_text.svg);
}
.logo {
  background-position: 50% 0;
}
.store {
  background-position: 50% 30px;
}
.mac {
  background-position: 50% 60px;
}
.ipod {
  background-position: 50% 90px;
}
.iphone {
  background-position: 50% 120px;
}
.ipad {
  background-position: 50% 150px;
}
.itunes {
  background-position: 50% 180px;
}
.support {
  background-position: 50% 210px;
}
.search-container {
  position: relative;
}
.search-container input {
  box-sizing: border-box;
  color: white;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 106px;
  margin-left: 15px;
  margin-right: 15px;
  height: 22px;
  padding-left: 24px;
  border: 1px inset rgba(128, 128, 128, 0.5);
  transition: width 0.3s ease-in-out;
}
.search-container input:focus {
  background: white;
  color: #444;
  width: 160px;
}
.search {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 6px;
  left: 22px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGJhc2VQcm9maWxlPSJmdWxsIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpldj0iaHR0cDovL3d3dy53My5vcmcvMjAwMS94bWwtZXZlbnRzIj4KPGcgZmlsbC1vcGFjaXR5PSIuNSI%2BCgk8cG9seWdvbiBwb2ludHM9IjkuMjA3LDcuMTI2IDcuNzkzLDguNTQxIDExLjc5MywxMi41NDEgMTMuMjA3LDExLjEyNiIgLz4KCTxwYXRoIGQ9Ik01LjkxNywzYzEuNjA4LDAsMi45MTcsMS4zMDgsMi45MTcsMi45MTdTNy41MjUsOC44MzMsNS45MTcsOC44MzNTMyw3LjUyNSwzLDUuOTE3UzQuMzA4LDMsNS45MTcsMyBNNS45MTcsMQoJCUMzLjIwMSwxLDEsMy4yMDEsMSw1LjkxN3MyLjIwMSw0LjkxNyw0LjkxNyw0LjkxN3M0LjkxNy0yLjIwMSw0LjkxNy00LjkxN0MxMC44MzMsMy4yMDEsOC42MzIsMSw1LjkxNywxTDUuOTE3LDF6IiAvPgo8L2c%2BCjxnPgoJPHBvbHlnb24gZmlsbD0iI2ZmZiIgcG9pbnRzPSI5LjIwNyw2LjEyNiA3Ljc5Myw3LjU0MSAxMS43OTMsMTEuNTQxIDEzLjIwNywxMC4xMjYiIC8%2BCgk8cGF0aCBmaWxsPSIjZmZmIiBkPSJNNS45MTcsMmMxLjYwOCwwLDIuOTE3LDEuMzA4LDIuOTE3LDIuOTE3UzcuNTI1LDcuODMzLDUuOTE3LDcuODMzUzMsNi41MjUsMyw0LjkxN1M0LjMwOCwyLDUuOTE3LDIKCQkgTTUuOTE3LDBDMy4yMDEsMCwxLDIuMjAxLDEsNC45MTdzMi4yMDEsNC45MTcsNC45MTcsNC45MTdzNC45MTctMi4yMDEsNC45MTctNC45MTdDMTAuODMzLDIuMjAxLDguNjMyLDAsNS45MTcsMEw1LjkxNywweiIgLz4KPC9nPgo8L3N2Zz4K');
}
.search-container input:focus + .search {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGJhc2VQcm9maWxlPSJmdWxsIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpldj0iaHR0cDovL3d3dy53My5vcmcvMjAwMS94bWwtZXZlbnRzIj4KPGc%2BCgk8cG9seWdvbiBmaWxsPSIjNjY2IiBwb2ludHM9IjkuMjA3LDYuMTI2IDcuNzkzLDcuNTQxIDExLjc5MywxMS41NDEgMTMuMjA3LDEwLjEyNiIgLz4KCTxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik01LjkxNywyYzEuNjA4LDAsMi45MTcsMS4zMDgsMi45MTcsMi45MTdTNy41MjUsNy44MzMsNS45MTcsNy44MzNTMyw2LjUyNSwzLDQuOTE3UzQuMzA4LDIsNS45MTcsMgoJCSBNNS45MTcsMEMzLjIwMSwwLDEsMi4yMDEsMSw0LjkxN3MyLjIwMSw0LjkxNyw0LjkxNyw0LjkxN3M0LjkxNy0yLjIwMSw0LjkxNy00LjkxN0MxMC44MzMsMi4yMDEsOC42MzIsMCw1LjkxNywwTDUuOTE3LDB6IiAvPgo8L2c%2BCjwvc3ZnPgo%3D');
}
article {
  min-height: 70vh;
  height: 592px;
  position: relative;
  top: 0;
  background: url(./assets/main-background.jpg) bottom no-repeat;
  background-size: 1440px 1315px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
article div {
  margin: 16px 0;
  width: 980px;
  background-size: cover;
  background-position: top;
}
.your-verse-title {
  height: 91px;
  background-image: url('/assets/your_verse_title_medium_2x.png');
}
.your-verse-subhead {
  height: 82px;
  background-image: url('/assets/your_verse_subhead_medium_2x.png');
}
.cta-your-verse {
  height: 32px;
  background-image: url('/assets/cta_your_verse_27pt_2x.png');
}
.cta-your-verse:hover {
  background-position: bottom;
}
footer {
  padding-bottom: 16px;
}
footer a {
  text-decoration: none;
  color: #0088cc;
}
.promo {
  display: flex;
}
.promo a {
  width: 25%;
  overflow: hidden;
  margin-left: 1px;
  margin-right: 1px;
}
.promo a:first-child {
  margin-left: 0;
}
.promo a:last-child {
  margin-right: 0;
}
.promo div {
  width: 364px;
  height: 200px;
  background-position: center;
}
.promo-iphone5s {
  background-image: url('/assets/promo_iphone5s.jpg');
}
.promo-iphone5c {
  background-image: url('/assets/promo_iphone5c.jpg');
}
.promo-30-years {
  background-image: url('/assets/promo_30_years.jpg');
}
.promo-supplier-responsibility {
  background-image: url('assets/promo_supplier_responsibility.jpg');
}
.footer {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 10px;
  color: #6e6e6e;
  padding-top: 8px;
}
.copyright {
  display: inline;
}
.footer ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.footer li {
  display: inline;
}
.footer ul li {
  border-left: 1px solid #ccc;
  padding-left: 6px;
  margin-left: 6px;
}
.footer ul li:first-child {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}
.footer p,
.footer ul {
  margin-top: 8px;
}
.worldwide {
  position: relative;
  top: 4px;
}
